.calender {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calenderDays {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.calanderDay {
    width: 100%;

}

.calanderDayTitle {
    background-color: #545254;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 1px;
}

.foodBoxContainer {
    width: 100%;
    height: auto;
}

.foodBoxTitle {
    min-height: 10px;
    font-weight: 600;
    padding: 10px;

    color: #63323d;
    border: 0.5px solid rgb(230, 230, 230);
}

.foodBox {
    min-height: 150px;
    border: 0.5px solid rgb(230, 230, 230);

    background-color: transparent;
}

.breakFastTitle {
    font-weight: 600;
    padding: 10px 0px 0px 10px;
    color: #BAB197;
}

.lunchTitle {
    padding: 10px 0px 0px 10px;
    font-weight: 600;
    color: #916162;
}

.dinnerTitle {
    padding: 10px 0px 0px 10px;
    font-weight: 600;
    color: #616D74;
}

.dropZone {
    height: auto;
    min-height: 100px;

}

.droppedRecipe {
    transition: 0.4s;
    /* background-color: #fff4ca;   */
}

.recipeName {
    padding: 1px 0px 0px 10px;
    align-self: flex-start;
}

.recipe_name {
    display: flex;
    transition: all 0.3s;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    cursor: grab;
    justify-content: space-between;
    border-radius: 10px;

}

/* Initially hide the button */
.removeButton {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    transition: all 0.3s;
    margin-right: 10px;
    cursor: pointer;
    padding: 0.4em;
    border-radius: 0.4em;
    align-items: center;
    justify-content: center;
}

.removeButton:hover {
    background-color: #ffb5b5;
}



/* Show the button when hovering over .recipe_name */
/* .recipe_name:hover .removeButton { */
/* display: block; */
/* display: flex; */
/* transition: all 0.3s; */

/* } */

/* .recipe_name:hover .btns {
    display: flex;
    transition: all 0.3s;
} */

.recipe_name:hover {
    transform: translateY(-2px);
    background-color: white;
    padding: 0.5em 0em;
}

.date {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 1px;
}

.btns {
    display: none;
    align-self: self-end;
}

.flex {
    display: flex;
}

.dragButton {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    transition: all 0.3s;
    padding: 0.4em;
    border-radius: 0.4em;
    cursor: grab;
    align-items: center;
    justify-content: center;
}

.dragButton:hover {
    background-color: #bed8f7;
}

.unselectable {

    user-select: none;

}