.calender {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calenderDays {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.calanderDay {
    width: 100%;

}

.calanderDayTitle {
    background-color: #545254;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    /* color: #fff7d2; */

    font-size: 20px;
    padding: 10px;
    letter-spacing: 1px;
}

.foodBoxContainer {
    width: 100%;
    height: auto;
}

.foodBoxTitle {
    min-height: 10px;
    font-weight: 600;
    padding: 10px;

    color: #63323d;
    border: 0.5px solid rgb(230, 230, 230);
}

.foodBox {
    min-height: 150px;
    border: 0.5px solid rgb(230, 230, 230);

    /* background-color: transparent; */
}


.dropZone {
    height: auto;
    background-color: #fbf6f5;

    min-height: 150px;

}

.droppedRecipe {
    transition: 0.4s;
    /* background-color: #fff4ca;   */
}

.recipeName {
    padding: 10px 0px 0px 10px;
    line-height: 0.8;
    align-self: flex-start;
}

.recipe_name {
    display: flex;
    transition: all 0.3s;
    align-items: center;
    flex-direction: column;
    gap: 0em;
    cursor: grab;
    justify-content: start;
    border-radius: 10px;

}

.members {
    font-size: 0.8em;
    align-self: start;
    padding: 1px 0px 0px 10px;

    display: flex;
}

/* Initially hide the button */
.btns {
    display: none;
    align-self: self-end;
    transition: all 0.3s;
    justify-content: end;

}

.btns button {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    transition: all 0.3s;
    margin-right: 10px;
    cursor: pointer;
    padding: 0.4em;
    border-radius: 0.4em;
    align-items: center;
    justify-content: center;
}


.dragButton:hover {
    cursor: grab;
}

.userButton:hover {
    background-color: #c1ffb5;

}

.removeButton:hover {
    background-color: #ffb5b5;
}


.recipe_name:hover {
    transform: translateY(-2px);
    background-color: white;
    padding: 0.5em 0em;
}

.date {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 1px;
}



.flex {
    display: flex;
    align-items: end;
    gap: 0px;
    justify-content: end;
}


.dragButton:hover {
    background-color: #bed8f7;
}